name: ghcr.io

on:
  push:
    branches:
      - master
    tags:
      - v*
  schedule:
    - cron: "0 0 * * *"

env:
  IMAGE: ghcr.io/${{ github.repository }}

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v2.7.0
        with:
          context: ./
          file: ./Dockerfile
          push: true
          platforms: linux/amd64
          tags: ghcr.io/${{ github.repository }}:${{ env.TAG }}
